/*
  Defaults
*/

/* Everything */
*,
*:before,
*:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

/* Selection */
::selection {
  text-shadow: none;
}

/* Modes */
html {
  color-scheme: dark light;
}

/* Body */

body {
  margin: 0;
}

/* Headings */
h1 {
  margin: 0;
}

/* Anchors */
a {
  text-decoration: none;
  /* Remove the grey overlay on touch events */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover,
  &:focus {
    outline: 0;
  }
}

abbr {
  text-decoration: none;
}

/* Images */
img {
  vertical-align: middle;
}

svg {
  height: auto;
}
