/*
  Utilities
*/

/* Opacity */

.opacity-75 {
  opacity: 0.75;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-10 {
  opacity: 0.1;
}

/* Shadows */

.shadow {
  box-shadow: var(--box-shadow-border), var(--box-shadow-small),
    var(--box-shadow);
}

.shadow-sm {
  box-shadow: var(--box-shadow-border), var(--box-shadow-small);
}

.shadow-lg {
  box-shadow: var(--box-shadow-border), var(--box-shadow-small),
    var(--box-shadow), var(--box-shadow-large);
}
