/*
  Variables
*/

:root {
  /* Type */
  --body-font-size: 16;
  --display-font: "futura-pt", sans-serif;
  --text-font: "baltica-web", serif;

  /* Basic */
  --orange-colour: #f37421;
  --black-colour: #333;
  --grey-colour: #ccc;

  /* Showcases */
  --cute-fight-colour: #ff8ee5;
  --eero-colour: #17204b;
  --encounters-colour: #3191fb;
  --everyday-colour: #e33f3f;
  --fray-colour: #7c2250;
  --ifttt-colour: #6c0;
  --magcloud-colour: #1569bc;

  /* Breakpoints */
  --sm-breakpoint: 30em; /* 480px */
  --md-breakpoint: 40em; /* 640px */
}
