/*
  Variables
*/

:root {
  /* Type */
  --body-font-size: 16;
  --display-font: "futura-pt", sans-serif;
  --text-font: "baltica-web", serif;

  /* Colours */
  --body-bg: white;

  --body-color: black;
  --secondary-color: color-mix(in srgb, var(--body-color) 60%, var(--body-bg));
  --tertiary-color: color-mix(in srgb, var(--body-color) 20%, var(--body-bg));

  --highlight-color: #f37421;

  /* Showcases */
  --cute-fight-color: #FF5ED8;
  --eero-color: #17204b;
  --encounters-color: #3191fb;
  --everyday-color: #e33f3f;
  --fray-color: #7c2250;
  --ifttt-color: #6c0;
  --know-your-team-color: #7e55ee;
  --magcloud-color: #1569bc;

  /* Borders */
  --border-translucent: rgba(0, 0, 0, 0.05);

  /* Shadows */
  --box-shadow-small: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.025);
  --box-shadow: 0 0.375rem 0.5rem rgba(0, 0, 0, 0.05);
  --box-shadow-large: 0 0.5rem 0.625rem rgba(0, 0, 0, 0.075);
  --box-shadow-border: 0 0 1px rgba(0, 0, 0, 0.25);

  /* Breakpoints */
  --sm-breakpoint: 30em; /* 480px */
  --md-breakpoint: 40em; /* 640px */
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: color-mix(in srgb, white 10%, black);

    --body-color: white;
    --secondary-color: color-mix(
      in srgb,
      var(--body-color) 60%,
      var(--body-bg)
    );
    --tertiary-color: color-mix(in srgb, var(--body-color) 30%, var(--body-bg));

    /* Showcases */
    --cute-fight-color: #ff8ee5;
    --eero-color: #4d83ff;
    --encounters-color: #ffd440;
    --fray-color: #BC3F87;
    --know-your-team-color: #BE8EFE;
    --magcloud-color: #28A7ED;

    /* Borders */
    --border-translucent: rgba(255, 255, 255, 0.1);
  }
}
