/*
  Main
*/

.content-container {
  overflow: hidden;
  padding: 7.5% 0;
}

.content-section {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: var(--md-breakpoint);
}

.content-container {
  color: var(--black-colour);
  font-size: var(--body-font-size);
  font-family: var(--display-font);
  line-height: 1.5;
  text-align: center;
}

.title {
  font-size: 1.875em;
  line-height: 1.2em;
}

.subtitle {
  font-size: 1.5em;
  line-height: 1.33333em;
}

::selection {
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--orange-colour);
}

header[role="banner"] {
  margin-bottom: 3.75%;
  width: 18em;
}

.header-link {
  display: inline-block;
  color: var(--grey-colour);
}

.header-logo {
  width: 120px;
}

.header-wordmark {
  margin-top: 5.625%;
  width: 284px;
}

.header-tagline {
  margin: 0;
  color: #ccc;
  font-size: 1.125em;
  font-weight: bold;

  span {
    display: inline-block;
    height: 1.33333em;
    vertical-align: middle;
  }

  .replaced-word {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 70px;
    height: 24px;
    background: url(/assets/images/gifs/nimble.gif) no-repeat;
    background-size: 100%;
  }
}

.showcase {
  margin: 7.5% auto;
  width: 100%;

  color: var(--showcase-colour);

  a {
    &:hover,
    &:focus {
      color: color-mix(in srgb, var(--showcase-colour) 60%, white);
    }
  }
}

.showcase-title {
  margin-bottom: 1.875%;
}

.showcase-tagline {
  margin-bottom: 0;
  color: #333;
  font-family: var(--text-font);
  font-size: 1.125em;
  line-height: 1.16667em;
}

.showcase-link,
.showcase-note {
  display: inline-block;
  position: relative;
  margin-top: 0.42857em;
  font-size: 0.875em;
  letter-spacing: 0.07143em;
  text-transform: uppercase;
}

.showcase-link {
  color: inherit;
  font-weight: bold;

  &:after {
    content: " ›";
    transition: inherit;
    position: absolute;
    right: -0.71429em;
    bottom: 0.07143em;
  }

  &:hover:after,
  &:focus:after {
    right: -0.85714em;
  }
}

.showcase-note {
  color: var(--grey-colour);
}

.showcase-gallery {
  position: relative;

  .screenshot {
    &.secondary {
      left: -26.5625%;
      transform: rotate(-1deg);
    }

    &.tertiary {
      right: -26.5625%;
      transform: rotate(0.5deg);
    }
  }

  .phone-screenshot {
    &.secondary {
      left: -14.0625%;
    }

    .tertiary {
      right: -14.0625%;
    }
  }
}

/*
  Showcases
*/

.ifttt-showcase {
  --showcase-colour: var(--ifttt-colour);

  .title {
    letter-spacing: 0.05em;
  }
}

.encounters-showcase {
  --showcase-colour: var(--encounters-colour);
}

.cute-fight-showcase {
  --showcase-colour: var(--cute-fight-colour);
}

.everyday-showcase {
  --showcase-colour: var(--everyday-colour);
}

.fray-showcase {
  --showcase-colour: var(--fray-colour);
}

.magcloud-showcase {
  --showcase-colour: var(--magcloud-colour);
}

/*
  Screenshots
*/

.screenshot {
  position: relative;
  margin: 0;

  &.secondary,
  &.tertiary {
    position: absolute;
    bottom: 5.625%;
  }

  &.secondary {
    z-index: 0;
    left: -25%;
  }

  &.tertiary {
    z-index: 2;
    right: -25%;
  }

  img {
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    box-sizing: content-box;
  }
}

.desktop-screenshot {
  z-index: 1;
  width: 100%;

  &.medium {
    width: 87.5%;
  }

  &.secondary,
  &.tertiary {
    z-index: 0;
  }
}

.tablet-screenshot {
  width: 37.5%;

  &.landscape {
    width: 56.25%;
  }
}

.phone-screenshot {
  width: 25%;

  &.landscape {
    width: 43.75%;
  }

  &.secondary {
    left: -12.5%;
  }

  &.tertiary {
    right: -12.5%;
  }
}

/*
 About
*/

.about-subtitle {
  margin: 0 0 2.5%;
  color: var(--grey-colour);

  span {
    display: inline-block;
    height: 1.33333em;
    vertical-align: middle;
  }

  .replaced-word {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 102px;
    height: 32px;
    background: url(/assets/images/gifs/sparkle.gif) no-repeat;
    background-size: 100%;
  }
}

.about-text {
  margin-top: 1.875%;
  font-family: var(--text-font);
  font-size: 1.125em;

  a {
    color: inherit;
    text-decoration: 2px underline var(--grey-colour);

    &:hover,
    &:focus {
      text-decoration-color: var(--orange-colour);
    }
  }
}

.contact-text {
  margin-top: 5.625%;
  font-size: 1.5em;

  .contact-link {
    display: block;
    color: var(--orange-colour);
    font: bold 1.5em var(--display-font);

    &:hover,
    &:focus {
      color: color-mix(in srgb, var(--orange-colour) 60%, white);
    }
  }
}

@media screen and (max-width: var(--sm-breakpoint)) {
  .title {
    font-size: 1.5em;
  }

  .subtitle {
    font-size: 1.3125em;
    line-height: 1.14286em;
  }

  .header-logo {
    width: 37.5%;
  }

  .header-wordmark {
    width: 88.75%;
  }

  .showcase {
    margin: 11.25% auto;
  }

  .about-subtitle .replaced-word {
    margin-top: -3px;
    width: 86px;
    height: 27px;
  }

  .about-subtitle {
    margin-bottom: 0.57143em;
  }

  .contact-text .contact-link {
    font-size: 1.25em;
  }

  .contact-text {
    margin-bottom: 2em;
    font-size: 1.3125em;
  }
}
