/*
  Main
*/

/*
  Base
*/

body {
  color: var(--body-color);
  background-color: var(--body-bg);
}

/*
  Layout
*/

.content-container {
  overflow: hidden;
  padding: 7.5% 0;
}

.content-section {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: var(--md-breakpoint);
}

/*
  Type
*/

.content-container {
  font-size: var(--body-font-size);
  font-family: var(--display-font);
  line-height: 1.5;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  line-height: 1.25;
}

::selection {
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--highlight-color);
}

/*
  Header
*/

header[role="banner"] {
  margin-bottom: 1.5rem;
}

.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.header-logo {
  width: 4rem;
}

.header-tagline {
  margin-bottom: 0.5rem;
  font-family: var(--text-font);
  font-size: 1.25rem;
  font-weight: normal;
  text-wrap: balance;

  strong {
    font-family: var(--display-font);
  }
}

/*
  Showcases
*/

.showcase {
  margin: calc((64 / 320) * 100%) auto;
  width: 100%;
  color: var(--showcase-color);

  a {
    &:hover,
    &:focus {
      color: color-mix(in srgb, var(--showcase-color) 80%, var(--body-bg));
    }
  }
}

.showcase-title {
  margin-bottom: 0.25rem;
}

.showcase-tagline {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--secondary-color);
  font-family: var(--text-font);
  font-size: 1.125em;
  text-wrap: balance;
}

.showcase-about {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
  font-family: var(--text-font);
  font-size: 1.125em;

  span {
    color: var(--tertiary-color);
  }
}

.showcase-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  list-style-type: none;
  text-transform: uppercase;

  > * {
    display: inline-flex;
    flex-shrink: 0;
    margin: 0 0.5rem;
  }
}

.showcase-gallery {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
}

.showcase-footer {
  margin-top: 1rem;
}

/*
  Specific Showcases
*/

.eero-showcase {
  --showcase-color: var(--eero-color);

  .screenshot {
    &:nth-child(1) {
      width: calc((200 / 640) * 100%);
      z-index: 5;
    }

    &:nth-child(n + 2) {
      position: absolute;
      bottom: calc((32 / 640) * 100%);
    }

    &:nth-child(2) {
      left: calc((60 / 640) * 100%);
      width: calc((180 / 640) * 100%);
      transform: rotate(-1deg);
      z-index: 2;
    }

    &:nth-child(3) {
      right: calc((60 / 640) * 100%);
      width: calc((180 / 640) * 100%);
      transform: rotate(0.5deg);
      z-index: 3;
    }

    &:nth-child(n + 4) {
      bottom: calc((48 / 640) * 100%);
    }

    &:nth-child(4) {
      left: calc((-80 / 640) * 100%);
      transform: rotate(-2deg);
      z-index: 1;
    }

    &:nth-child(5) {
      right: calc((-80 / 640) * 100%);
      transform: rotate(1.5deg);
      z-index: 0;
    }
  }
}

.ifttt-showcase {
  --showcase-color: var(--ifttt-color);

  .title {
    letter-spacing: 0.125rem;
  }
}

.encounters-showcase {
  --showcase-color: var(--encounters-color);
}

.cute-fight-showcase {
  --showcase-color: var(--cute-fight-color);
}

.everyday-showcase {
  --showcase-color: var(--everyday-color);
}

.fray-showcase {
  --showcase-color: var(--fray-color);
}

.know-your-team-showcase {
  --showcase-color: var(--know-your-team-color);
}

.magcloud-showcase {
  --showcase-color: var(--magcloud-color);
}

/*
  Screenshots
*/

.screenshot {
  --screenshot-border-radius: 0.25rem;

  display: inline-block;
  position: relative;
  margin: 0;
  border-radius: var(--screenshot-border-radius);
  transform-origin: bottom center;
  overflow: hidden;

  &:after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    border-radius: var(--screenshot-border-radius);
  }

  &.secondary,
  &.tertiary {
    position: absolute;
    bottom: calc((32 / 640) * 100%);
  }

  &.secondary {
    z-index: 0;
    left: calc((-160 / 640) * 100%);
    transform: rotate(-1deg);
  }

  &.tertiary {
    z-index: 2;
    right: calc((-160 / 640) * 100%);
    transform: rotate(0.5deg);
  }

  img {
    width: 100%;
    height: auto;
  }
}

.desktop-screenshot {
  z-index: 1;
  width: calc((600 / 640) * 100%);

  &.medium {
    width: calc((560 / 640) * 100%);
  }

  &.secondary,
  &.tertiary {
    z-index: 0;
  }
}

.tablet-screenshot {
  width: calc((240 / 640) * 100%);

  &.landscape {
    width: calc((360 / 640) * 100%);
  }
}

.phone-screenshot {
  width: calc((160 / 640) * 100%);

  &.ios {
    border-radius: 1rem;

    &:after {
      border-radius: 1rem;
    }
  }

  &.landscape {
    width: calc((280 / 640) * 100%);
  }

  &.secondary {
    left: calc((-80 / 640) * 100%);
  }

  &.tertiary {
    right: calc((-80 / 640) * 100%);
  }
}

/*
  About & Contact
*/

.about-text {
  margin-top: 0;
  color: var(--secondary-color);
  font-family: var(--text-font);
  font-size: 1.125rem;
  text-wrap: balance;

  a {
    color: inherit;
    text-decoration: 2px underline var(--tertiary-color);
    text-underline-offset: 3px;

    &:hover,
    &:focus {
      text-decoration-color: var(--highlight-color);
    }
  }
}

.contact-button {
  display: inline-block;
  padding: 0.25em 1em;
  color: var(--highlight-color);
  font-size: 1.25rem;
  background-color: color-mix(in srgb, var(--highlight-color) 10%, var(--body-bg));
  border-radius: 2rem;

  &:hover,
  &:focus {
    color: color-mix(in srgb, var(--highlight-color) 80%, var(--body-bg));
    background-color: color-mix(in srgb, var(--highlight-color) 5%, var(--body-bg));
  }

  &:active {
    transform: scale(0.95);
  }
}

/*
  Dark Mode
*/

@media (prefers-color-scheme: dark) {
  .screenshot {
    &:after {
      border: 1px solid var(--border-translucent);
    }
  }
}
