// Defaults

// Body
body {
  color: $primary-black;
}

// Headings
h1 {
  font-family: $display-font;
}

// Anchors
a {
  color: $brand-orange;
  text-decoration: none;

  &:hover, &:focus {
    color: $secondary-grey;
  }
}

// Images
img {
  vertical-align: middle;
}
