// Defaults

// Body
body {
  color: $primary-black;
}

// Headings
h1 {
  margin: 0 0 .25em;
  font-family: $display-font;

  &.title {
    $font-size: 30;

    font-size: em($font-size);
  }

  &.subtitle {
    $font-size: 24;

    font-size: em($font-size);
  }
}

// Anchors
a {
  color: $brand-orange;
  text-decoration: none;
  transition: all .125s;

  &:hover, &:focus {
    color: $secondary-grey;
  }
}

// Images
img {
  vertical-align: middle;
}
svg {
  height: auto;
}
