// Variables

// Type
$body-font-size: 16;
$display-font: "futura-pt", sans-serif;
// $text-font: "schoolbook-web", serif;

// Colour

// Basic
$orange-colour: #f37421;
$black-colour: #333;
$grey-colour: #ccc;

// Showcases
$cute-fight-colour: #ff8ee5;
$encounters-colour: #3191fb;
$everyday-colour: #e33f3f;
$fray-colour: #7c2250;
$magcloud-colour: #1569bc;

// Media Queries
$small-breakpoint: 30em; // 480px
$medium-breakpoint: 40em; // 640px
