// Variables

// Type
$body-font-size: 16;
$display-font: "futura-pt", sans-serif;
$text-font: "schoolbook-web", serif;

// Colour
$brand-orange: #f37421;
$primary-black: #444;
$secondary-grey: #ccc;
