// Variables

// Type
$body-font-size: 16;
$display-font: "futura-pt", sans-serif;
$text-font: "schoolbook-web", serif;

// Colour
$orange: #f37421;
$black: #333;
$grey: #ccc;

// Media Queries
$breakpoint-small: 30em; // 480px
$breakpoint-medium: 40em; // 640px
