// Imports
@import "variables";
@import "functions";
@import "defaults";
@import "helpers";

// Layout
////////////////////////////////////////////////////////////////////////////////

.content-container {
  font: #{$body-font-size}px/1.5 $text-font;
  text-align: center;
}

.main-section {
  margin-right: auto;
  margin-bottom: percentage(16/320);
  margin-left: auto;
  width: percentage(288/320);
  max-width: em(864);
}

// Header
////////////////////////////////////////////////////////////////////////////////

header[role="banner"] {
  a {
    display: block;
    color: $primary-black;
  }

  h1 {
    $font-size: 48;

    font-size: em($font-size);
    font-weight: normal;
    letter-spacing: to-em(4, $font-size);
    line-height: 1;

    strong {
      text-transform: uppercase;
    }
  }

  p {
    $font-size: 24;

    font: bold em($font-size) $display-font;
  }
}

// Client List
////////////////////////////////////////////////////////////////////////////////

.client-item {
  display: inline;
}

.client-logo {
  vertical-align: middle;
}

// Animations
@import "animations";
