// Imports
@import "variables";
@import "functions";
@import "defaults";
@import "helpers";

// Layout
////////////////////////////////////////////////////////////////////////////////

.content-container {
  font: #{$body-font-size}px/1.5 $text-font;
  text-align: center;
}

.main-section {
  margin-right: auto;
  margin-bottom: percentage(16/320);
  margin-left: auto;
  width: percentage(288/320);
  max-width: em(864);
}

// Work
////////////////////////////////////////////////////////////////////////////////

.showcase {
  position: relative;
  margin: 0 auto;
  width: 640px;
  height: 424px;

  + .showcase {
    margin-top: 10%;
  }
}

.screenshot {
  margin: 0;
  position: absolute;
  background: $secondary-grey;

  img {
    width: 100%;
  }

  &.primary {
    z-index: 1;
  }

  &.secondary {
    z-index: 2;
  }

  &.tertiary {
    z-index: 3;
  }
}

.desktop {
  padding-top: 24px;
  width: 640px;
  border-radius: 8px;

  img {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.tablet {
  bottom: -24px;
  padding: 24px 8px;
  width: 240px;
  border-radius: 8px;

  &.secondary {
    left: -160px;
  }

  &.tertiary {
    right: -160px;
  }

  img {
    border-radius: 2px;
  }
}

.phone {
  bottom: -24px;
  padding: 24px 4px;
  width: 120px;
  border-radius: 8px;

  &.secondary {
    left: -80px;
  }

  &.tertiary {
    right: -80px;
  }

  img {
    border-radius: 2px;
  }
}

// Header
////////////////////////////////////////////////////////////////////////////////

header[role="banner"] {
  a {
    display: block;
    color: $primary-black;
  }

  h1 {
    $font-size: 48;

    font-size: em($font-size);
    font-weight: normal;
    letter-spacing: to-em(4, $font-size);
    line-height: 1;

    strong {
      text-transform: uppercase;
    }
  }

  p {
    $font-size: 24;

    font: bold em($font-size) $display-font;
  }
}

// Client List
////////////////////////////////////////////////////////////////////////////////

.client-item {
  display: inline;
}

.client-logo {
  vertical-align: middle;
}

// Animations
@import "animations";
