// Imports
@import "variables";
@import "functions";
@import "defaults";
@import "helpers";

// Layout
////////////////////////////////////////////////////////////////////////////////

.content-container {
  overflow: hidden;
  padding: percentage(16/320) 0;
  font: bold #{$body-font-size}px/1.5 $display-font;
  text-align: center;
}

.content-section {
  margin-right: auto;
  margin-left: auto;
  width: percentage(280/320);
  max-width: em(640);
}

.main-section {
  margin-bottom: percentage(24/320);
}

.about-section {
  margin-bottom: percentage(12/320);
}


// Header
////////////////////////////////////////////////////////////////////////////////

header[role="banner"] {
  margin-bottom: percentage(24/640);

  a {
    color: $primary-black;
  }
}

.header-logo {
  width: percentage(160/640);
  max-width: 120px;
}

.header-title {
  $font-size: 36;

  margin-top: percentage(8/640);
  font-size: em($font-size);
  font-weight: normal;
  letter-spacing: to-em(1, $font-size);
  line-height: 1;

  strong {
    text-transform: uppercase;
  }
}

.header-tagline {
  $font-size: 18;

  margin: 0;
  color: $secondary-grey;
  font-size: em($font-size);
  font-weight: bold;

  em {
    font-style: normal;
  }
}


// Work
////////////////////////////////////////////////////////////////////////////////

.showcase {
  margin: 0 auto;
  width: 100%;

  + .showcase {
    margin-top: percentage(24/320);
  }

  &.encounters {
    .title, a {
      color: #3191fb;
    }
  }

  &.cute-fight {
    .title, a {
      color: #ff8ee5;
    }
  }

  &.everyday {
    .title, a {
      color: #e33f3f;
    }
  }

  &.fray {
    .title, a {
      color: #7c2250;
    }
  }

  &.magcloud {
    .title, a {
      color: #1569bc;
    }
  }

  p {
    $font-size: 18;

    font-size: em($font-size);
    line-height: 1.25em;
  }

  a, span {
    $font-size: 12;

    font-size: em($font-size);
    text-transform: uppercase;
  }

  a:hover, a:focus, span {
    color: $secondary-grey;
  }
}

.gallery {
  position: relative;

  &:hover, &:focus {
    .screenshot {
      &.secondary {
        left: percentage(-170/640);
        transform: rotate(-1deg);
      }

      &.tertiary {
        right: percentage(-170/640);
        transform: rotate(.5deg);
      }
    }

    .phone {
      &.secondary {
        left: percentage(-90/640);
      }

      &.tertiary {
        right: percentage(-90/640);
      }
    }
  }
}

.screenshot {
  position: relative;
  margin: 0;

  &.secondary, &.tertiary {
    position: absolute;
    bottom: percentage(36/640);
  }

  &.secondary {
    z-index: 0;
  }

  &.tertiary {
    z-index: 2;
  }

  img {
    width: 100%;
    height: auto;
    border: 1px solid transparentize(black,.9);
    border-radius: 2px;
  }
}

.desktop {
  z-index: 1;
  width: 100%;

  &.medium {
    width: percentage(560/640);
  }

  &.secondary, &.tertiary {
    z-index: 0;
  }

  &.secondary {
    left: percentage(-160/640);
  }

  &.tertiary {
    right: percentage(-160/640);
  }
}

.tablet {
  width: percentage(240/640);

  &.landscape {

    width: percentage(360/640);
  }

  &.secondary {
    left: percentage(-160/640);
  }

  &.tertiary {
    right: percentage(-160/640);
  }
}

.phone {
  width: percentage(160/640);

  &.landscape {
    width: percentage(280/640);
  }

  &.secondary {
    left: percentage(-80/640);
  }

  &.tertiary {
    right: percentage(-80/640);
  }
}

// Client List
////////////////////////////////////////////////////////////////////////////////

.client-list {
  margin: 0;
  padding: 0;
}

.client-item {
  display: inline-block;
  max-width: 128px;
}

.client-logo {
  max-width: 88px;
  padding: 0 20px;
  vertical-align: middle;

  &.hp {
    max-width: 44px;
  }
}


// Client List
///////////////////////////////////////////////////////////////////////////////

.contact-text {
  $font-size: 24;

  font: bold em($font-size) $display-font;

  a {
    font: bold to-em(36, $font-size) $display-font;
  }
}


// Animations
@import "animations";
