<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/assets/stylesheets/vendor/normalize.css">
  <link rel="stylesheet" href="/assets/stylesheets/main.css">

  <script src="//use.typekit.net/uib8yps.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="/assets/javascripts/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>

<body{% if page.class %} class="{{ page.class }}"{% endif %}>
  {% include header.html %}

  {{ content }}

  {% include footer.html %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/javascripts/vendor/jquery.js"><\/script>')</script>

  <script src="/assets/javascripts/main.js"></script>
</body>
</html>
