<!DOCTYPE html>
<!-- I'll add in some notes here later… -->
<html>

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="author" content="{{ site.author.name }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

  <link rel="stylesheet" href="/assets/stylesheets/index.css">

  <script>
    (function (d) {
      var config = {
        kitId: 'uib8yps',
        scriptTimeout: 3000
      },
        h = d.documentElement, t = setTimeout(function () {h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";}, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = '//use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () {a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try {Typekit.load(config)} catch (e) { } }; s.parentNode.insertBefore(tk, s)
    })(document);
  </script>
</head>

<body{% if page.class %} class="{{ page.class }}" {% endif %}>
  <div class="content-container">
    {{ content }}
  </div>
</body>

<script src="/assets/javascripts/main.js"></script>
<script data-goatcounter="https://sodapopandco.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</html>
