/* =============================================================================
  Basics
============================================================================= */

figure, footer, header { display: block; }
[hidden] { display: none; }

html { font-family: sans-serif; font-size: 100%; color: #333; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 1em; line-height: 1.5; }

::-moz-selection { background: #f47421; color: #fff; text-shadow: none; }
::selection { background: #f47421; color: #fff; text-shadow: none; }

a, a:visited { color: #f47421; text-decoration: none; }
a:hover, a:focus { color: #333; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
a, a img { -webkit-transition: all .2s ease; -moz-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease; }
b, strong { font-weight: bold; }
em { font-style: normal; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }


/* =============================================================================
  Main
============================================================================= */

body {
  margin: 0 auto;
  padding: 96px 20px;
  width: 700px;
  background: #fff;
  color: #ccc;
  font-family: futura-pt, Verdana, sans-serif;
  font-weight: 700;
  text-align: center;
}
header {
  width: 700px;
  background: rgba(255,255,255,.95);
  text-transform: uppercase;
}
header h1 {
  margin: 0;
  margin-bottom: 18px;
  color: #333;
  font-size: 72px;
  letter-spacing: 9px;
  line-height: 1em;
  text-shadow:
    /* Raised */
    0 1px 0 #ccc,
    0 2px 0 #ccc,
    0 3px 0 #ccc,
    0 4px 0 #ccc,
    0 5px 0 rgba(204,204,204,.8),
    /* Shadow */
    1px 6px 0 #f2f2f2,
    4px 7px 0 #f2f2f2,
    6px 8px 0 #f2f2f2,
    8px 9px 0 rgba(242,242,242,.6),
    10px 10px 0 rgba(242,242,242,.4)
  ;
}
header p {
  margin: 0;
  font-size: 14px;
  letter-spacing: 6px;
}
div[role="main"] {
  margin: 60px 0;
}
figure {
  margin-bottom: 60px;
}
img {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
}
a:hover img, a:focus img {
  -webkit-box-shadow: 0 2px 4px #c2c2c2;
  box-shadow: 0 2px 4px #c2c2c2;
}
footer p {
  margin-bottom: 36px;
  font-size: 12px;
  letter-spacing: 1px;
}
footer p a {
  text-transform: uppercase;
}