<footer role="contentinfo">
  <div class="about-section content-section">
    <h2 class="about-subtitle subtitle">
      <span>With a touch of</span>
      <img class="nimble" src="/assets/images/gifs/sparkle.gif" alt="sparkle">
      <span>and a twist of mischief.</span>
    </h2>

    <p class="about-text">Sodapop &amp; Co. is an independent design studio led by <a href="http://everycopy.com/" title="Everything is copy.">James Goode</a>. With almost a decade of experience working with publishers, start-ups, makers, and friends, we focus on projects that extend and celebrate people’s ability to create, interact, and&nbsp;collaborate.</p>

    <ul class="services-list">
      <li>Art Direction</li>
      <li>Copywriting</li>
      <li>Editorial Design</li>
      <li>Information Design</li>
      <li>Logo &amp; Identity</li>
      <li>Responsive/Mobile</li>
      <li>Product Design</li>
      <li>User Experience</li>
      <li>Style Guides</li>
      <li>User Interaction</li>
      <li>Visual Design</li>
      <li>Website Design</li>
    </ul>

    <p class="contact-text">
      Say hello or work with us &mdash;
      <script type="text/javascript">
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!77{)rt{y+xx=l;=+;" +
"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
"\"(4),3\\\"\\\\`jgtroe*;uh.+5#3/%~LNVMT07\\\\02\\\\03\\\\\\\\0k03\\\\\\\\wZ" +
"23\\\\04\\\\02\\\\\\\\21\\\\0@\\\\^@HLyD\\\\tG\\\\6S00\\\\\\\\MIOB0D00\\\\\\"+
"\\7q17\\\\\\\\x=7u17\\\\\\\\:J+Kxp{g0eR-e~z%xfbfwjiCos\\\\tG\\\\23\\\\07\\\\"+
"01\\\\\\\\26\\\\00\\\\02\\\\\\\\31\\\\02\\\\03\\\\\\\\)T5I02\\\\\\\\27\\\\0" +
"3\\\\00\\\\\\\\30\\\\0O\\\\1L07\\\\05\\\\00\\\\\\\\03\\\\05\\\\00\\\\\\\\3E" +
"02\\\\\\\\05\\\\04\\\\00\\\\\\\\27\\\\07\\\\01\\\\\\\\>05y00\\\\\\\\&j0 .#(" +
"kg{/kXSPOBE35\\\\0E\\\\HA\\\\F\\\\\\\\D\\\\GJ\\\"\\\\f(;} ornture;}))++(y)^" +
"(iAtdeCoarchx.e(odrChamCro.fngriSt+=;o27=1y%+;y+4)<3(iif){++;i<l;i=0(ior;ft" +
"hnglex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"                  ;
while(x=eval(x));
      </script>
    </p>
  </div>
</footer>
