<footer class="about-section content-section" role="contentinfo">
  <p class="about-text">
    Sodapop &amp; Co. is an independent design practice led by
    <a href="http://everycopy.com/">James Goode</a>. With almost two decades of
    experience working with publishers, start-ups, makers, and friends, we focus
    on projects that extend and celebrate people’s ability to create, interact,
    and&nbsp;collaborate.
  </p>

  <p class="contact-text">
    Say hello or work with us:
    <script type="text/javascript">document.write(
      "<n pynff=\"pbagnpg-yvax\" uers=\"znvygb:jbex\100fbqncbc\056vf\">jbex\100fbqncbc\056vf<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
    </script>
  </p>
</footer>
