<footer role="contentinfo">
  <div class="about-section content-section">
    <h2 class="subtitle">About</h2>

    <p class="about-text">Sodapop &amp; Co. is an independent design studio led by James Goode. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper.</p>
  </div>

  <!-- <div class="about-section content-section">
    <dl class="services-list">
      <h4 class="subtitle">Dolor</h4>

      <ul>
        <li>Commodo</li>
        <li>Justo</li>
        <li>Etiam</li>
      </ul>
    </div>

    <div class="services-list">
      <h4 class="subtitle">Vehicula</h4>

      <ul>
        <li>Justo</li>
        <li>Tortor</li>
        <li>Etiam</li>
      </ul>
    </div>

    <div class="services-list">
      <h4 class="subtitle">Cras</h4>

      <ul>
        <li>Ullamcorper</li>
        <li>Sem</li>
        <li>Consectetur</li>
      </ul>
    </div>
  </div> -->

  <div class="about-section content-section">
    <h3 class="subtitle">Selected Clients</h3>

    <ul class="client-list">
      <li class="client-item">
        <svg class="automattic client-logo" viewBox="0 0 160 160">
          <image xlink:href="/assets/images/client-logos/automattic.svg" src="/assets/images/client-logos/automattic.svg" alt="Automattic Logo" width="160" height="160">
        </svg>
      </li>

      <li class="client-item">
        <svg class="hp client-logo" viewBox="0 0 160 160">
          <image xlink:href="/assets/images/client-logos/hp.svg" src="/assets/images/client-logos/hp.svg" alt="Automattic Logo" width="160" height="160">
        </svg>
      </li>

      <li class="client-item">
        <svg class="fairfax-media client-logo" viewBox="0 0 160 160">
          <image xlink:href="/assets/images/client-logos/fairfax_media.svg" src="/assets/images/client-logos/fairfax_media.svg" alt="Automattic Logo" width="160" height="160">
        </svg>
      </li>

      <li class="client-item">
        <svg class="ning client-logo" viewBox="0 0 160 160">
          <image xlink:href="/assets/images/client-logos/ning.svg" src="/assets/images/client-logos/ning.svg" alt="Automattic Logo" width="160" height="160">
        </svg>
      </li>

      <li class="client-item">
        <svg class="pearson client-logo" viewBox="0 0 160 160">
          <image xlink:href="/assets/images/client-logos/pearson.svg" src="/assets/images/client-logos/pearson.svg" alt="Automattic Logo" width="160" height="160">
        </svg>
      </li>
    </ul>
  </div>

  <div class="about-section content-section">
    <p class="contact-text">
      Say hello or work with us:
      <br>
      <script>
var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
"=76){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
".substr(0,ol);}f(\")811,\\\"XQdtyg6zo\\\"\\\\&c;&7$'.L}PKXBr\\\\320\\\\s300" +
"\\\\Dj700\\\\300\\\\300\\\\Qpmz}xF3~{-g`fhf!020\\\\530\\\\Z430\\\\030\\\\12" +
"0\\\\!R2Q710\\\\400\\\\220\\\\r\\\\620\\\\@|000\\\\)1x$= /(%;600\\\\/0/I600" +
"\\\\ULZ]S]410\\\\p720\\\\NCVJ000\\\\771\\\\ 80xxwdg~}&rjgm010\\\\030\\\\620" +
"\\\\320\\\\\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;" +
"721=%y;++y)811<i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noi" +
"tcnuf\")"                                                                    ;
        while(x=eval(x));
      </script>
    </p>
  </div>
</footer>
