<header role="banner" class="header-section content-section">
  <a class="header-link" href="/">
    <svg class="header-logo" viewBox="0 0 64 64">
      <image xlink:href="/assets/images/logo.svg" alt="S&amp;CO Logo" width="64"
        height="64">
    </svg>
  </a>

  <h1 class="header-tagline">
    <strong>Sodapop & Co.</strong> is designer James Goode.
  </h1>

  <p class="about-text">
    Over the past (almost) two decades I’ve worked with publishers, start-ups,
    makers, and friends, focusing on projects that extend and celebrate people’s
    ability to create, connect, and collaborate.
  </p>

  {% include "contact.html" %}
</header>
