<header role="banner" class="header-section content-section">
  <a class="header-link" href="/">
    <svg class="header-logo" viewBox="0 0 120 120">
      <image xlink:href="/assets/images/logo.svg" src="/assets/images/logo.png" alt="S&amp;CO Logo" width="120" height="120">
    </svg>

    <svg class="header-wordmark" viewBox="0 0 284 27">
      <image xlink:href="/assets/images/wordmark.svg" src="/assets/images/wordmark.png" alt="Sodapop &amp; Co. Wordmark" width="284" height="27">
    </svg>

    <p class="header-tagline">
      <span>A</span> <span class="replaced-word">nimble</span> <span>design studio.</span>
    </p>
  </a>
</header>
