<header role="banner">
  <a class="header-link" href="#">
    <svg class="header-logo" viewBox="0 0 640 640">
      <image xlink:href="/assets/images/logo.svg" src="/assets/images/logo.svg" alt="Sodapop &amp; Co. Logo" width="640" height="640">
    </svg>

    <h1 class="header-title title"><strong>Sodapop</strong> &amp; Co.</h1>

    <p class="header-tagline">
      <span>A</span>
      <img class="nimble" src="/assets/images/gifs/nimble.gif" alt="nimble" width="70" height="24">
      <span>design studio.</span>
    </p>
  </a>
</header>
